<html>
  <head>
    <title>NIC DOB Finder</title>
    <link rel="stylesheet" href="styles.css" />
    <script>
      var baseURL = "http://localhost:8080/api/nic/id=";

      function getData(nic) {
        if (!nic) {
          alert("Please enter the NIC !");
        } else {
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.open("GET", baseURL.concat(nic + ""), true);
          xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
              var data = JSON.parse(xmlhttp.responseText);
              if(data.gender==null){
                alert("Invalid NIC !")
                document.getElementById('gender').innerHTML="Null";
                document.getElementById('dob').innerHTML="Null";
              }else{
                document.getElementById('gender').innerHTML=data.gender;
                document.getElementById('dob').innerHTML=data.birthDate;
                console.log(data);
              }
            }
          };
          xmlhttp.send();
        }
      }
    </script>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1 style="text-align: center">Find Gender and Birthday by NIC Number</h1>
    <div>
      
        <label>Enter your NIC : </label>
        <input type="text" id="nic" maxLength="12" required />
        <button
          id="btnSearch"
          onClick="getData(document.getElementById('nic').value)"
        >
          Get Details
        </button>
      
    </div>
    <div>
      <br>
      <label> Gender : </label>
      <span id="gender" class="data"></span>
      <br>
      <label> Birthdate : </label>
      <span id="dob" class="data"></span>
    </div>
  </body>
</html>
