<html>

<head>
  <title>NIC DOB Finder</title>
  <link rel="icon" href="https://www.pngrepo.com/png/77000/180/id-card.png">
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet"> 
  <script>
    var baseURL = "http://localhost:8080/api/nic/";
    //Function to clear the input fields
    function clearData() {
      $('#nic').val("");
      $("#nic").focus();
      document.getElementById('gender').innerHTML = "";
      document.getElementById('dob').innerHTML = "";
      hideAllRecordDiv();

    }
    //Function to hide the records table div
    function hideAllRecordDiv() {
      var x = document.getElementById("tblDiv");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    //Function to show the record table div
    function showAllRecordsDiv() {
      var x = document.getElementById("tblDiv");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

    //Function to edit the data
    function editRecord(nic, gender, birthday) {

      if (gender || gender.trim()) {
        if (birthday || birthday.trim()) {
          const json = {
            "nic": nic,
            "gender": gender,
            "birthDay": birthday,
          };
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.open("POST", baseURL.concat("update"), true);
          xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
              var data = JSON.parse(xmlhttp.responseText);
              if(data)
                popUpSuccess("Record updated successfully !");
              showAllRecordsDiv();
              viewAllData();
            }
          }
          xmlhttp.setRequestHeader('Content-Type', 'application/json');
          xmlhttp.send(JSON.stringify(json));
        } else {
          popUpError("A field should contain a value !");
        }
      } else {
        popUpError("A field should contain a value !");
      }
      // var xmlhttp=new XMLHttpRequest();
      // xmlhttp.open("POST",)
    }
    //Function to delete a record
    function deleteRecord(nic) {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", baseURL.concat("delete/nic=" + nic), true);
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
          //     console.log(records);
          var data = JSON.parse(xmlhttp.responseText);
          if(data)
            popUpError("Record Deleted Successfully !");
          console.log(data);
          var table = document.getElementById('myTable')
          table.innerHTML = "";
          hideAllRecordDiv();
          viewAllData();
        };
      };
      xmlhttp.send();

      // viewAllData();
    }
    //Function to show all the records
    function viewAllData() {
      showAllRecordsDiv();
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", baseURL.concat("view"), true);
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
          var records = JSON.parse(xmlhttp.responseText);
          var records = JSON.parse(xmlhttp.responseText);
          var table = document.getElementById('myTable');
          table.innerHTML = "";
          // var table = document.getElementById('myTable')

          for (var i = 0; i < records.length; i++) {
            var row = `<tr>
                    <td>${records[i].nic}</td>
                    <td><input class="editData" id="editGender" type="text" style='width: 60px' value="${records[i].gender}" required></td>
                    <td><input class="editData" id="editDob" type="text" style='width: 180px' value="${records[i].birthDay}" required></td>
                    <td><a href="#" data-toggle="tooltip" title="Edit the data and click this button !"onClick="editRecord('${records[i].nic}',document.getElementById('editGender').value,document.getElementById('editDob').value)"><i class="fa fa-edit" style="font-size:24px;color:black"></i></a></td>
                    <td><a href="#" onClick="deleteRecord('${records[i].nic}')"><i class="fa fa-trash" style="font-size:24px;color:red"></a></i></td>
                  </tr>`
            table.innerHTML += row
          }
          console.log(records);
        }
      };
      xmlhttp.send();
    }

    function getData(nic) {
      var table = document.getElementById('myTable')
      table.innerHTML = "";

      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", baseURL.concat("id=" + nic), true);
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
          var data = JSON.parse(xmlhttp.responseText);

          switch (data.errorCode) {
            case 1:
              // alert("Empty input ! - ERROR 1");
              // invalidNICData();
              popUpError("Empty input ! - ERROR 1");
              break;
            case 2:
              // alert("NIC should contain 10(Old NIC) or 12(New NIC) digits ! - ERROR 2");
              // invalidNICData();
              popUpError("NIC should contain 10(Old NIC) or 12(New NIC) digits ! - ERROR 2");
              break;
            case 3:
              // alert("New NIC should be starts with 19XXXXXXXXXX or 20XXXXXXXXXX ! - ERROR 3");
              // invalidNICData();
              popUpError("New NIC should be starts with 19XXXXXXXXXX or 20XXXXXXXXXX ! - ERROR 3");

              break;
            case 4:
              // alert("The last digit of old NIC should be V or X ! - ERROR 4");
              // invalidNICData();
              popUpError("The last digit of old NIC should be V or X ! - ERROR 4");
              break;
            case 5:
              popUpError("Invalid number sequence ! - ERROR 5");
              // alert("Invalid number sequence ! - ERROR 5");
              // invalidNICData();
              break;
            case 6:
              popUpError("NIC should contain numbers only ! - ERROR 6");
              // alert("NIC should contain numbers ! - ERROR 6");
              // invalidNICData();
              break;
            case 10: {
              document.getElementById('gender').innerHTML = "Gender  : " + data.gender;
              document.getElementById('dob').innerHTML = "Birthday : " + data.birthDate;
              console.log(data);
            }
              break;
            default:
          }

          // if (data.gender == null) {
          //   alert("Invalid NIC !")
          //   document.getElementById('gender').innerHTML = "Null";
          //   document.getElementById('dob').innerHTML = "Null";
          // } else {
          //   document.getElementById('gender').innerHTML = data.gender;
          //   document.getElementById('dob').innerHTML = data.birthDate;
          //   console.log(data);
          // }
        }
      };
      xmlhttp.send();
      // }
    }

    function invalidNICData() {
      // document.getElementById('gender').style.color = 'red';
      // document.getElementById('gender').innerHTML = "Invalid NIC";
      // document.getElementById('dob').style.color = 'red';
      // document.getElementById('dob').innerHTML = "Invalid NIC";
    }
    //Function to popup an error
    function popUpError(errorMessage) {
      $(function () {
        $('.popup_box').fadeIn("slow");
        $('.popup_box').css("display", "block");
        document.getElementById('error').innerHTML = errorMessage;
        document.getElementById('gender').innerHTML = "";
        document.getElementById('dob').innerHTML = "";

      });
    }

    $(document).ready(function () {
      $('.btnok').click(function () {
        $('.popup_box').css("display", "none");
        $('#nic').val("");
        $("#nic").focus();
      });
    });

    //Function to popup a success message
    function popUpSuccess(successMessage) {
      $(function () {
        $('.popup_box_success').fadeIn("slow");
        $('.popup_box_success').css("display", "block");
        document.getElementById('success').innerHTML = successMessage;
      });
    }

    $(document).ready(function () {
      $('.btnSuccess').click(function () {
        $('.popup_box_success').css("display", "none");
      });
    });

  </script>

</head>

<body>

  <div class="card" style="width: 30rem; margin-top: 100px;">
    <img src="https://www.shareicon.net/data/256x256/2016/09/01/822585_world_512x512.png" class="center" alt="..."
      width="100px">
    <h3 class="card-title"><b>Sri Lanka NIC Information</b></h3>
    <div class="card-body">
      <div class="row">
        <div class="col-5">
          <label id="niclabel">Enter your NIC </label>
        </div>
        <div class="col-6">
          <input type="text" id="nic" maxLength="12" class="form-control" placeholder="Enter your NIC here..."
            style="font-weight: bold;" required />
        </div>
      </div>

      <br>
      <a href="#" onClick="getData(document.getElementById('nic').value)" id="btnSearch" class="btn btn-primary">Get
        Details</a>
      <a href="#" onClick="clearData()" id="btnClear" class="btn btn-primary">Clear</a>
      <a href="#" onClick="viewAllData()" id="btnViewData" class="btn btn-primary">View Records</a>
    </div>
    <span id="gender" class="data"></span>
    <br>
    <span id="dob" class="data"></span>
    <script>
      var input = document.getElementById("nic");
      document.getElementById("nic").addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("btnSearch").click();
        }
      });
    </script>
  </div>

  <!-- Custom Alert box -->
  <div class="popup_box" id="popup_box">
    <i class="fas fa-exclamation"></i>
    <h1 id="error"></h1>
    <br>
    <div class="btns">
      <a href="#" class="btnok">OK</a>
    </div>
    <br>
  </div>

  <!-- Success Alert box -->
  <div class="popup_box_success" id="popup_box_success">
    <i class="fas fa-exclamation"></i>
    <h1 id="success"></h1>
    <br>
    <div class="btns">
      <a href="#" class="btnSuccess">OK</a>
    </div>
    <br>
  </div>

  
  <!-- View all records in the database -->
  <div class="card" style="width: 40rem; margin-top: 100px;" id="tblDiv">    
    <h3 class="card-title"><b>Previous Records</b></h3>
    <div class="card-body">
      <div class="row">
        <table class="table table-striped" style="text-align: center;" id="tblRecords">
          <tr class="bg-info">
            <th>NIC</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tbody id="myTable">
            <!-- Table body which is loaded dynamucally -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>