<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NIC DOB Finder</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="styles.css" />
  <script src="index.js"></script>
</head>

<body>
  <section class="section">
    <h1 class="title" style="text-align: center">Find Gender and Birthday by NIC Number</h1>
    <div class="container" id="input">
      <input class="input is-rounded" type="text" onfocus="this.value=''" placeholder="Enter your NIC" id="nic" maxlength="12" required />
      <button class="button is-primary is-rounded" id="btnSearch"
        onClick="getData(document.getElementById('nic').value)">
        Get Details
      </button>
    </div>
    <div class="container">
      <br />
      <span id="gender" class="data"></span>
      <br />
      <span id="dob" class="data"></span>
    </div>
  </section>

  <script>
    let input = document.getElementById("nic");
      input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("btnSearch").click();
        }
      });
  </script>
</body>

</html>