body {
  background-image: linear-gradient(
    to left bottom,
    #3e7bd5,
    #00a1d8,
    #2dbec3,
    #92d3b3,
    #d8e4bd
  );
}

div {
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  margin-top: 5%;
}

#input {
  margin-top: 2%;
}

#gender {
  margin-top: 2%;
}

input {
  width: 300px !important;
  box-shadow: 0.5px 0.5px !important;
}

#container {
  margin-left: 10%;
  margin-right: auto;
}

::placeholder {
  color: black !important;
  opacity: 0.6 !important;
}

.result {
  color: #363636;
  font-weight: 600;
}

button {
  color: black !important;
  opacity: 0.8 !important;
  box-shadow: 0.5px 0.5px !important;
}
